{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="300"/>
    <title>Остров 10-22 Светофор</title>

    <!-- vendor css -->
    <link href="/static/azia/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/azia/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/azia/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/azia/css/azia.css">
    <link rel="stylesheet" href="/static/azia/css/circle.css">


</head>
<body class="az-body az-dashboard-eight">
<header class="page user-events-page bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="/" class="user-events__main-logo navbar-brand mr-4">
                <img src="/static/img/app.png" alt="" style="max-height: 40px">
            </a>


            <div class="collapse navbar-collapse" id="navbar-top">
                <ul class="navbar-nav mr-auto text-center">
                    <div class="text-danger text-center mr-auto tx-36-f">Мониторинг процессов Острова 10-22</div>
                </ul>
            </div>

        </nav>
    </div>
</header>

<div class="az-content az-content-dashboard-eight">
    <div class="container-fluid d-block">
        <div class="row row-sm">
            <div class="col-lg-6"> {% comment %}Посещамость мероприятий{% endcomment %}
                <div class="row">
                    <div class="col-12 mb-2">
                        <h2 class="az-content-title tx-24 tx-center mb-0">Динамика регистрации участников</h2>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card card-dashboard-twentyfour  mb-0">

                            <div class="card-body">
                                <div class="card-body-top">

                                    <div> Зарегистрировано
                                        <h6><span></span>{{ users_registered_count }}
                                            <small class="text-black-50">/ {{ user_count }}</small>
                                        </h6>
                                    </div>


                                </div><!-- card-body-top -->

                                <div class="chart-wrapper">
                                    <div id="flotBarRegister" class="flot-chart"></div>
                                </div><!-- chart-wrapper -->
                            </div><!-- card-body -->
                        </div>
                    </div>


                </div>
            </div><!-- col -->
            <div class="col-lg-6 "> {% comment %}Активность в приложении{% endcomment %}
                <div class="row">
                    <div class="col-12 mb-0">
                        <h2 class="az-content-title tx-24 tx-center mb-3">Активность в приложениях</h2>
                    </div>
                    <div class="col-lg-4 col-sm-12  mb-0">
                        <div class="card card-dashboard-twenty mb-3" style="min-height: 22.4vh">
                            <div class="card-body">
                                <label class="az-content-label tx-13">Личный кабинет</label>
                                <p>Заходили в личный кабинет</p>
                                <div class="expansion-value">
                                    <strong>{{ users_active_lk_today }}
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>{{ users_active_lk_today|as_percentage_of:user_count }}</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-orange wd-{{ users_active_lk_today|as_percentage_of_round5:user_count }}p"
                                         role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Сегодня</span>

                                </div>
                                <div class="expansion-value">
                                    <strong> {{ users_active_lk_all }}
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>{{ users_active_lk_all|as_percentage_of:user_count }}</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-success wd-{{ users_active_lk_all|as_percentage_of_round5:user_count }}p"
                                         role="progressbar"
                                         aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Весь период</span>

                                </div>
                            </div>
                        </div><!-- card -->
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-twenty" style="min-height: 22.4vh">
                            <div class="card-body">
                                <label class="az-content-label tx-13">Мобильные приложения</label>
                                <p>Запущено мобильное приложение</p>
                                <div class="expansion-value">
                                    <strong>{{ users_active_mob_today }}
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>{{ users_active_mob_today|as_percentage_of:user_count }}</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger wd-{{ users_active_mob_today|as_percentage_of_round5:user_count }}p"
                                         role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Сегодня</span>

                                </div>
                                <div class="expansion-value">
                                    <strong>{{ users_active_mob_all }}
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>{{ users_active_mob_all|as_percentage_of:user_count }}</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger wd-{{ users_active_mob_all|as_percentage_of_round5:user_count }}p"
                                         role="progressbar"
                                         aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Весь период</span>

                                </div>
                            </div>
                        </div><!-- card -->
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-twenty" style="min-height: 22.4vh">
                            <div class="card-body">
                                <label class="az-content-label tx-13">Карта развития</label>
                                <p>Занимались картой развития</p>
                                <div class="expansion-value">
                                    <strong>0
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>0%</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger wd-0p" role="progressbar" aria-valuenow="13"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Сегодня</span>

                                </div>
                                <div class="expansion-value">
                                    <strong>0
                                        <small> / {{ user_count }}</small>
                                    </strong>
                                    <strong>0%</strong>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-orange wd-0p" role="progressbar" aria-valuenow="50"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="expansion-label">
                                    <span>Весь период</span>

                                </div>
                            </div>
                        </div><!-- card -->
                    </div>
                </div>
            </div><!-- col -->
        </div><!-- row -->
        <div class="row row-sm">
            <div class="col-lg-6" style="opacity:.25"> {% comment %}Посещамость мероприятий{% endcomment %}
                <div class="row ">
                    <div class="col-12 mb-0">
                        <h2 class="az-content-title tx-24 tx-center mb-3">Посещаемость мероприятий</h2>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            <div class="card-header">
                                <h6 class="card-title">На мероприятиях по расписанию</h6>
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 green p71">
                                        <span>71%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h4>1 065
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            <div class="card-header">
                                <h6 class="card-title">На мероприятиях НЕ по расписанию</h6>
                                {% comment %}       <span class="card-text">Ходят на свои мероприятия</span>{% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 p34 orange">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <h4>300
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            {% comment %}<div class="card-header">
                                <h6 class="card-title mg-b-10">Ходят на свои мероприятия</h6>
                            </div><!-- card-header -->{% endcomment %}
                            <div class="card-header">
                                <h6 class="card-title">Отсутсвуют на мероприятиях</h6>
                                {% comment %}       <span class="card-text">Ходят на свои мероприятия</span>{% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 red p9">
                                        <span>9%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <h4>135
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>

                </div>
            </div><!-- col -->
            <div class="col-lg-6" style="opacity:.25"> {% comment %}Посещамость мероприятий{% endcomment %}
                <div class="row ">
                    <div class="col-12 mb-0">
                        <h2 class="az-content-title tx-24 tx-center mb-3">Обратная связь</h2>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            <div class="card-header">
                                <h6 class="card-title">Оставлено оценок по спорту</h6>
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 green p71">
                                        <span>71%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h4>1 065
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            <div class="card-header">
                                <h6 class="card-title">Оставлено оценок по лабораториям</h6>
                                {% comment %}       <span class="card-text">Ходят на свои мероприятия</span>{% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 p34 orange">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <h4>300
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div class="card card-dashboard-five">
                            {% comment %}<div class="card-header">
                                <h6 class="card-title mg-b-10">Ходят на свои мероприятия</h6>
                            </div><!-- card-header -->{% endcomment %}
                            <div class="card-header">
                                <h6 class="card-title">Оставлено оценок по мастер классам</h6>
                                {% comment %}       <span class="card-text">Ходят на свои мероприятия</span>{% endcomment %}
                            </div>
                            <div class="card-body">
                                <div class="mg-b-10 mg-sm-b-0 mg-sm-r-10">
                                    <div class="c100 red p9">
                                        <span>9%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>

                                    <h4>135
                                        <small> / {{ user_count }}</small>
                                    </h4>
                                </div>
                            </div><!-- card-body -->
                        </div>
                    </div>

                </div>
            </div><!-- col -->

            {% comment %}Загрузка аудиторий{% endcomment %}

        </div>
        <div class="row row-sm">
            <div class="col-lg-6"> {% comment %}Обратная связь{% endcomment %}
                <div class="row">
                    <div class="col-12 mb-0">
                        <h2 class="az-content-title tx-24 tx-center mb-3">Последний аукцион</h2>
                    </div>
                    <div class="col-12">
                        <div class="card card-dashboard-twentyfour">
                            <div class="card-header">
                                <h6 class="card-title">Аукцион: {{ title }}</h6>
                                <span class="text-danger">Завершен</span>
                            </div><!-- card-header -->
                            <div class="card-body">
                                <div class="card-body-top">
                                    <div>
                                        <h6><span></span>{{ bet_count }}
                                            <small></small>
                                        </h6>
                                        <label>Ставок</label>
                                    </div>

                                    <div>
                                        <h6><span></span>{{ auction_user_count }}
                                            <small class="text-black-50">/ {{ user_count }}</small>
                                        </h6>
                                        <label>Участников</label>
                                    </div>


                                </div><!-- card-body-top -->

                                <div class="d-flex justify-content-between mg-b-15">
                                    <label class="az-content-label">Динамика ставок</label>
                                    <div class="chart-legend">

                                    </div><!-- chart-legend -->
                                </div>
                                <div class="chart-wrapper">
                                    <div id="flotBarAuction" class="flot-chart">

                                    </div>
                                </div><!-- chart-wrapper -->
                            </div><!-- card-body -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="row " style="opacity:.25">
                    <div class="col-12 mb-0">
                        <h2 class="az-content-title tx-24 tx-center mb-3">Загрузка аудиторий</h2>
                    </div>
                    <div class="col-12">
                        <div class="card" style="min-height: 22.4vh">
                            <div class="card-body">
                                <div class="col-12">
                                    <div id="flotPie" class="wd-100p ht-150"></div>
                                </div><!-- col -->
                                {% comment %}  <div class="col-sm-4 col-md-5 mg-t-30 mg-sm-t-0">
                                    <ul class="list-unstyled">
                                        <li class="d-flex align-items-center"><span
                                                class="d-inline-block wd-10 ht-10 bg-purple mg-r-10"></span> Very
                                            Satisfied (26%)
                                        </li>
                                        <li class="d-flex align-items-center mg-t-5"><span
                                                class="d-inline-block wd-10 ht-10 bg-primary mg-r-10"></span> Satisfied
                                            (39%)
                                        </li>
                                        <li class="d-flex align-items-center mg-t-5"><span
                                                class="d-inline-block wd-10 ht-10 bg-teal mg-r-10"></span> Not Satisfied
                                            (20%)
                                        </li>
                                        <li class="d-flex align-items-center mg-t-5"><span
                                                class="d-inline-block wd-10 ht-10 bg-gray-500 mg-r-10"></span> Satisfied
                                            (15%)
                                        </li>
                                    </ul>
                                </div><!-- col -->{% endcomment %}
                            </div><!-- card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- container -->
</div><!-- az-content -->

{% comment %}    <div class="az-footer ht-40">
      <div class="container pd-t-0-f ht-100p">
        <span>&copy; 2018 Azia Responsive Bootstrap 4 Dashboard Template</span>
      </div><!-- container -->
    </div><!-- az-footer -->{% endcomment %}

<script src="/static/azia/lib/jquery/jquery.min.js"></script>
<script src="/static/azia/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/azia/lib/ionicons/ionicons.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.pie.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="/static/azia/lib/chart.js/Chart.bundle.min.js"></script>

<script src="/static/azia/js/azia.js"></script>
<script src="/static/azia/js/chart.peity.js"></script>
<script src="/static/azia/lib/peity/jquery.peity.min.js"></script>
<script src="/static/azia/js/chart.flot.sampledata.js"></script>
<script src="/static/azia/js/easypiechart.min.js"></script>

<script>
    $(function () {
        'use strict'
        $.plot('#flotBarRegister', [{
            data: {{ users_registered_data}},
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#e60007',
                barWidth: .5,
                order: 'left'
            }
        },], {
            grid: {
                borderWidth: 0
            },
            yaxis: {
                min: 0,

                tickColor: '#ddd',

                font: {
                    color: '#444',
                    size: 10
                }
            },
            xaxis: {
                show: false,
                mode: 'categories',
                min: 0,
                max: 100,
                tickColor: '#eee',
                {% comment %}         ticks: {{ users_registered_data_series}},{% endcomment %}
                font: {
                    color: '#999',
                    size: 9
                }
            }
        });
        $.plot('#flotPie', [
            {label: 'Низкая загруженность', data: [[1, 5]], color: '#fd7e14'},
            {label: 'Средняя загруженность', data: [[1, 20]], color: '#3bb001'},
            {label: 'Высокая загруженность', data: [[1, 4]], color: '#dc3545'},
        ], {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    innerRadius: 0.5,
                    label: {
                        show: true,
                        radius: 3 / 4,
                        formatter: labelFormatter
                    }
                }
            },
            {% comment %}   legend: {show: false}{% endcomment %}
        });
        $.plot('#flotBarAuction', [{
            data: {{ event_bet_dyn_data }},
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#e60007',
                barWidth: .3,
                order: 'left'
            }
        },], {
            grid: {
                borderWidth: 0
            },
            yaxis: {
                min: 0,
                {% comment %}  max: 15,{% endcomment %}
                tickColor: '#ddd',
                {% comment %}              ticks: [[0, ''], [5, '100'], [10, '200'], [15, '300']],{% endcomment %}
                font: {
                    color: '#444',
                    size: 10
                }
            },
            xaxis: {
                mode: 'categories',
                tickColor: '#eee',
                {% comment %}                ticks: [[0, '3am'], [1, '4am'], [2, '5am'], [3, '6am'], [4, '7am'], [5, '8am'], [6, '9am'], [7, '10am'], [8, '11am'], [9, '12nn'], [10, '1pm'], [11, '2pm'],
                                    [12, '3pm'], [13, '4pm'], [14, '5pm']],{% endcomment %}
                font: {
                    color: '#999',
                    size: 9
                }
            }
        });

        function labelFormatter(label, series) {
            return '<div style="font-size:11px; font-weight:500; text-align:center; padding:2px; color:white;">' + Math.round(series.percent) + '%</div>';
        }

        $.plot('#flotBarBets', [{
            data: {{ event_bet_dyn_data }},
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#e60007',
                barWidth: .5,
                order: 'left'
            }
        },], {
            grid: {
                borderWidth: 0
            },
            yaxis: {
                min: 0,
                {% comment %} max: 60,{% endcomment %}
                tickColor: '#ddd',
                {% comment %}ticks: [[0, ''], [5, '200'], [10, '400'], [15, '600']],{% endcomment %}
                font: {
                    color: '#444',
                    size: 10
                }
            },
            xaxis: {
                show: false,
                mode: 'categories',
                tickColor: '#eee',
                {% comment %}ticks: [[0, '3am'], [1, '4am'], [2, '5am'], [3, '6am'], [4, '7am'], [5, '8am'], [6, '9am'], [7, '10am'], [8, '11am'], [9, '12nn'], [10, '1pm'], [11, '2pm'],
                    [12, '3pm'], [13, '4pm'], [14, '5pm']],{% endcomment %}
                font: {
                    color: '#999',
                    size: 9
                }
            }
        });
    });

</script>
</body>
</html>
