{% load tags %}
{% load humanize %}
{% load tz %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="300"/>

    <!-- Meta -->
    <meta name="description" content="Цифровой след Остров 10-22">


    <title></title>

    <!-- vendor css -->
    <link href="/static/azia/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/azia/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/azia/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/azia/css/azia.css">

</head>

<body class="az-body az-dashboard-eight">
<header class="page user-events-page bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="/" class="user-events__main-logo navbar-brand mr-4">
                <img src="/static/img/app.png" alt="" style="max-height: 40px">
            </a>

            <div class="collapse navbar-collapse" id="navbar-top">
                <div class="text-danger text-center mr-auto tx-36-f">Воронка цифрового следа</div>
            </div>

        </nav>
    </div>
</header>

<div class="az-content az-content-dashboard-eight  pt-3">
    <div class="container-fluid d-block">
        <div class="row row-sm">
            <div class="col-sm-12 col-lg-3">
                <div class="card card-dashboard-twelve mg-b-20">
                    <div class="card-header">
                        <h6 class="card-title">Ставки на аукционе <span></span></h6>
                        <div class="sales-overview">
                            <div class="media">
                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}           <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_bets_last |stringformat:".0f" }}</h4>
                                    {% comment %}           <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div><!-- media -->


                        </div>

                    </div><!-- card-header -->
                    <div class="card-body">
                        {% comment %}                      <div class="chart-legend">

                                                <div><span class="bg-indigo"></span> Tickets Sold</div>
                            <div><span class="bg-teal"></span> Tickets Available</div>
                        </div><!-- chart-legend -->{% endcomment %}
                        <div class="chart-wrapper">
                            <div id="betChart" class="flot-chart">

                            </div>
                        </div><!-- chart-wrapper -->
                    </div><!-- card-body -->
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card card-dashboard-twelve mg-b-20">
                    <div class="card-header">
                        <h6 class="card-title">Записи на мероприятия <span></span></h6>
                        <div class="sales-overview">
                            <div class="media">
                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}            <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_enroll_last |stringformat:".0f" }}</h4>
                                    {% comment %}      <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div><!-- media -->


                        </div>

                    </div><!-- card-header -->
                    <div class="card-body">
                        {% comment %}                      <div class="chart-legend">

                                                <div><span class="bg-indigo"></span> Tickets Sold</div>
                            <div><span class="bg-teal"></span> Tickets Available</div>
                        </div><!-- chart-legend -->{% endcomment %}
                        <div class="chart-wrapper">
                            <div id="flotChart" class="flot-chart">

                            </div>
                        </div><!-- chart-wrapper -->
                    </div><!-- card-body -->
                </div>
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card card-dashboard-twelve mg-b-20">
                    <div class="card-header">
                        <h6 class="card-title">Рефлексия<span></span></h6>
                        <div class="sales-overview">
                            <div class="media">
                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}           <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_feedback_last |stringformat:".0f" }}</h4>
                                    {% comment %}             <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div>
                            <div class="media">

                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}           <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_feedback_last |as_percentage_of:result.event_day_enroll_last }}</h4>
                                    {% comment %}             <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div>


                        </div>

                    </div><!-- card-header -->
                    <div class="card-body">
                        {% comment %}                      <div class="chart-legend">

                                                <div><span class="bg-indigo"></span> Tickets Sold</div>
                            <div><span class="bg-teal"></span> Tickets Available</div>
                        </div><!-- chart-legend -->{% endcomment %}
                        <div class="chart-wrapper">
                            <div id="feedbackChart" class="flot-chart">

                            </div>
                        </div><!-- chart-wrapper -->
                    </div><!-- card-body -->
                </div>

            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="card card-dashboard-twelve mg-b-20">
                    <div class="card-header">
                        <h6 class="card-title">Цифровой след <span>  </span></h6>
                        <div class="sales-overview">
                            <div class="media">
                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}           <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_dtrace_last |stringformat:".0f" }}</h4>
                                    {% comment %}             <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div>
                            <div class="media">

                                <div class="media-icon bg-purple"><i class="typcn typcn-ticket"></i></div>
                                <div class="media-body">
                                    {% comment %}           <label>Tickets Sold</label>{% endcomment %}
                                    <h4> {{ result.event_day_dtrace_last |as_percentage_of:result.event_day_enroll_last }}</h4>
                                    {% comment %}             <span><strong>10.5%</strong> of 20,000 Total</span>{% endcomment %}
                                </div><!-- media-body -->
                            </div>


                        </div>

                    </div><!-- card-header -->
                    <div class="card-body">
                        {% comment %}                      <div class="chart-legend">

                                                <div><span class="bg-indigo"></span> Tickets Sold</div>
                            <div><span class="bg-teal"></span> Tickets Available</div>
                        </div><!-- chart-legend -->{% endcomment %}
                        <div class="chart-wrapper">
                            <div id="traceChart" class="flot-chart">

                            </div>
                        </div><!-- chart-wrapper -->
                    </div><!-- card-body -->
                </div>

                {% comment %}                <div class="col-12 card card-dashboard-twentyfour mb-2">
                    <div class="card-header">
                        <h2 class="">Динамика выдачи карточек на острове </h2>
                        <span class="tx-20"></span>
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="flot-chart-wrapper">
                            <div id="flotChart" class="flot-chart"
                                 style="height: 35vh; padding: 0px; position: relative;">

                                <canvas class="flot-base"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 331px; height: 288.047px;"
                                        width="331" height="288"></canvas>
                                <div class="flot-text"
                                     style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                                    <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                         style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 12px; text-align: center;">
                                            10 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 58px; text-align: center;">
                                            12 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 103px; text-align: center;">
                                            14 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 149px; text-align: center;">
                                            16 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 194px; text-align: center;">
                                            18 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 240px; text-align: center;">
                                            20 июля
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; max-width: 125px; top: 271px; left: 285px; text-align: center;">
                                            22 июля
                                        </div>
                                    </div>
                                    <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                         style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; top: 1px; left: 0px; text-align: right;">2000
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; top: 255px; left: 20px; text-align: right;">0
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; top: 191px; left: 7px; text-align: right;">500
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; top: 128px; left: 0px; text-align: right;">1000
                                        </div>
                                        <div class="flot-tick-label tickLabel"
                                             style="position: absolute; top: 64px; left: 0px; text-align: right;">1500
                                        </div>
                                    </div>
                                </div>
                                <canvas class="flot-overlay" width="331" height="288"
                                        style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 331px; height: 288.047px;"></canvas>
                            </div>
                        </div>
                    </div>

                </div>{% endcomment %}
            </div>

            <div class="col-sm-12 col-lg-12">
                <div class="col-12 card card-dashboard-twentyfour mb-2">
                    <div class="card-header">
                        <h2 class="">Мероприятия</h2>
                        <span class="tx-20"></span>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>

                                <th class="wd-lg-30p tx-left">Название</th>
                                <th class="wd-lg-20p tx-left">Факультет</th>
                                <th class="wd-lg-10p tx-right">Дата</th>
                                <th class="wd-lg-10p tx-right">Ставок</th>
                                <th class="wd-lg-10p tx-right">Записей</th>
                                <th class="wd-lg-10p tx-right">Рефлексий</th>
                                <th class="wd-lg-10p tx-right">Рефлексий, %</th>
                                <th class="wd-lg-10p tx-right">Цифрового следа</th>
                                <th class="wd-lg-10p tx-right">Цифрового следа, %</th>
                                <th class="wd-lg-10p tx-right">Средняя оценка</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for event in result.event_rating %}
                                <tr>
                                    <td class="text tx-lext tx-bold"
                                        style="word-wrap: break-word">{{ event.event_title }}</td>
                                    <td class="text">
                                        {% if  event.dep_title != None %}{{ event.dep_title }} {% endif %}</td>
                                    <td class="text tx-right">{{ event.startDT|date }}  </td>
                                    <td class="text tx-right tx-bold">{{ event.bets_count|stringformat:".0f" }}  </td>
                                    <td class="text tx-right tx-bold">{{ event.enrolls_count|stringformat:".0f" }}</td>
                                    <td class="text tx-right tx-bold">{% if  event.feedback_users_count > 0 %}
                                        {{ event.feedback_users_count|stringformat:".0f" }}{% endif %}</td>
                                    <td class="text tx-right tx-bold">{{ event.feedback_users_count|as_percentage_of:event.enrolls_count }}</td>
                                    <td class="text tx-right tx-bold">{% if  event.dtrace_user_count > 0 %}
                                        {{ event.dtrace_user_count|stringformat:".0f" }}{% endif %}</td>
                                    <td class="text tx-right tx-bold">{{ event.dtrace_user_count|as_percentage_of:event.enrolls_count }}</td>
                                    <td class="text tx-right tx-bold">{% if  event.avg_score > 0 %}
                                        {{ event.avg_score|stringformat:".2f" }}{% endif %}</td>

                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>

        </div>


    </div><!-- container -->
</div><!-- az-content -->


<script src="/static/azia/lib/jquery/jquery.min.js"></script>
<script src="/static/azia/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/azia/lib/ionicons/ionicons.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="/static/azia/lib/chart.js/Chart.bundle.min.js"></script>

<script src="/static/azia/js/azia.js"></script>
<script src="/static/azia/js/chart.flot.sampledata.js"></script>

<script src="/static/azia/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/azia/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
<script src="/static/azia/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/azia/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>


<script>
    {% comment %}    $('#sparkline').sparkline({{ result.event_day_enroll_data }}, {
            type: 'bar',
            height: 100,
            barWidth: 7,
            barColor: '#e9ecef',
            barSpacing: 5,
            chartRangeMin: 0,
            chartRangeMax: 15,
            disableTooltips: true,
            disableHighlight: true
        });{% endcomment %}

    {% comment %} $('#sparkline').sparkline([1, 2, 4, 4, 7, 5, 9, 10, 6, 4, 4, 7, 5, 9, 10, 5, 9, 10, 6, 4, 4, 7, 5, 9, 10, 9, 10, 6, 4, 4, 7, 5, 6, 4, 3, 4], {
         composite: true,
         type: 'bar',
         barWidth: 7,
         barSpacing: 5,
         height: 100,
         barColor: '#6f42c1',
         chartRangeMin: 0,
         chartRangeMax: 15,
         disableTooltips: true,
         disableHighlight: true
     });{% endcomment %}
    {% comment %}   var ctx1 = document.getElementById('chartBar1').getContext('2d');
       new Chart(ctx1, {
           type: 'bar',
           data: {
               labels: ['09/07', '10/07', '11/07', '12/07', '13/07', '14/07', '15/07', '16/07', '17/07', '18/07', '19/07', '20/07', '21/07', '22/07'],
               datasets: [{
                   data: {{ result.event_day_enroll_data }},
                   backgroundColor: '#d0121f'
               },  {
                   data: [22, 30, 25, 30, 20, 25],
                   backgroundColor: '#cad0e8'
               }]
           },
           options: {
               maintainAspectRatio: false,
                responsive: true,
               legend: {
                   display: false,
                   labels: {
                       display: false
                   }
               },
               scales: {
                   yAxes: [{
                       display: false,
                       ticks: {
                           beginAtZero: true,
                           fontSize: 10,
                                 max: 60,
                           padding: 0
                       }
                   }],
                   xAxes: [{
                       gridLines: {
                           display: true,
                           borderDash: [10, 4],
                           color: '#ced4da',
                           drawBorder: false
                       },
                       barPercentage: 0.6,
                       ticks: {
                           beginAtZero: true,
                           fontSize: 11,
                           fontFamily: 'Arial'
                       }
                   }]
               }
           }
       });
   {% endcomment %}

    $.plot('#betChart', [{
        data: {{ result.event_day_bets_data |safe}},
        color: '#f20031',
    },], {
        series: {
            shadowSize: 0,
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },

        grid: {
            borderWidth: 0,
            borderColor: '#969dab',
            labelMargin: 5,
        },
        yaxis: {
            show: true,
            color: '#ced4da',
            tickLength: 5,
            min: 0,
            {% comment %} max: 110,{% endcomment %}
            font: {
                size: 11,
                color: '#969dab'
            },
            tickFormatter: function formatter(val, axis) {
                return val  + 'k';
            }
        },
        xaxis: {
            show: true,
            position: 'bottom',
            color: 'rgba(0,0,0,0.1)',
            ticks: {{ result.event_day_chart_ticks |safe}},
{% comment %}            tickFormatter: function formatter(val, axis) {
                return val +'.07';
            },{% endcomment %}
        },
    });

    $.plot('#flotChart', [{
        data: {{ result.event_day_enroll_data |safe}},
        color: '#f20031',
    },], {
        series: {
            shadowSize: 0,
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },

        grid: {
            borderWidth: 0,
            borderColor: '#969dab',
            labelMargin: 5,
        },
        yaxis: {
            show: true,
            color: '#ced4da',
            tickLength: 5,
            min: 0,
            {% comment %} max: 110,{% endcomment %}
            font: {
                size: 11,
                color: '#969dab'
            },

       tickFormatter: function formatter(val, axis) {
                return +"   " + val / 1000 + 'k';
            }
        },
        xaxis: {
            show: true,
            position: 'bottom',
            color: 'rgba(0,0,0,0.1)',
            ticks: {{ result.event_day_chart_ticks |safe}},
{% comment %}            tickFormatter: function formatter(val, axis) {
                return val + 10 + '.07';
            },{% endcomment %}
        },
    });

    $.plot('#traceChart', [{
        data: {{ result.event_day_dtrace_data |safe}},
        color: '#f20031',
    },], {
        series: {
            shadowSize: 0,
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },

        grid: {
            borderWidth: 0,
            borderColor: '#969dab',
            labelMargin: 5,
        },
        yaxis: {
            show: true,
            color: '#ced4da',
            tickLength: 5,
            min: 0,
            {% comment %} max: 110,{% endcomment %}
            font: {
                size: 11,
                color: '#969dab'
            },
            tickFormatter: function formatter(val, axis) {
                return +"   " + val / 1000 + 'k';
            }
        },
        xaxis: {
            show: true,
            position: 'bottom',
            color: 'rgba(0,0,0,0.1)',
            ticks: {{ result.event_day_chart_ticks |safe}},
{% comment %}            tickFormatter: function formatter(val, axis) {
                return val + 9 + '.07';
            },{% endcomment %}
        },
    });

    $.plot('#feedbackChart', [{
        data: {{ result.event_day_feedback_data |safe}},
        color: '#f20031',
    },], {
        series: {
            shadowSize: 0,
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },

        grid: {
            borderWidth: 0,
            borderColor: '#969dab',
            labelMargin: 5,
        },
        yaxis: {
            show: true,
            color: '#ced4da',
            tickLength: 5,
            min: 0,
            {% comment %} max: 110,{% endcomment %}
            font: {
                size: 11,
                color: '#969dab'
            },
            tickFormatter: function formatter(val, axis) {
                return +"   " + val / 1000 + 'k';
            }
        },
        xaxis: {
            show: true,
            position: 'bottom',
            color: 'rgba(0,0,0,0.1)',
            ticks: {{ result.event_day_chart_ticks |safe}},
           {% comment %} tickFormatter: function formatter(val, axis) {
                return val + 9 + '.07';
            },{% endcomment %}
        },
    });

</script>
</body>
</html>
