{% load tags %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="300"/>
    <!-- Meta -->
    <meta name="description" content="Рейтинг сервисов НТИ">


    <title>Остров 10-22 СЦ Рейтинг сервисов НТИ</title>

    <!-- vendor css -->
    <link href="/static/azia/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/azia/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/azia/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/azia/css/azia.css">

</head>

<body class="az-body az-dashboard-eight">
<header class="page user-events-page bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="/" class="user-events__main-logo navbar-brand mr-4">
                <img src="/static/img/app.png" alt="" style="max-height: 40px">
            </a>

            <div class="collapse navbar-collapse" id="navbar-top">
                <div class="text-danger text-center mr-auto tx-36-f tx-uppercase">Рейтинг сервисов НТИ</div>
            </div>

        </nav>
    </div>
</header>

<div class="az-content az-content-dashboard-eight  pt-3">
    <div class="container-fluid d-block">
        <div class="row row-sm">
            <div class="col-lg-6 col-sm-12">
                <div class="col-12 card card-dashboard-twentyfour mb-2">
                    <div class="card-header">
                        <h2 class="">Рейтинг сервисов платформы НТИ</h2>
                        <span class="tx-20"></span>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table {% comment %}table-striped table-dashboard-two mg-b-0{% endcomment %}">
                            <thead>
                            <tr>
                                <th class="wd-lg-10p tx-right">Рейтинг</th>
                                <th class="wd-lg-70p tx-left">Сервис</th>

                                <th class="wd-lg-10p tx-right">Соглашений</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% for service in result.services %}
                                <tr>
                                    <td class="text tx-right tx-bold tx-">#{{ service.N }}</td>
                                    <td class="text tx-bold"
                                        style="word-wrap: break-word"> {{ service.service}}   </td>
                                    <td class="text tx-right tx-bold tx-15">{{ service.team }}</td>

                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>




            </div>
            <div class="col-lg-6 col-sm-12">

             <div class="col-12 card card-dashboard-twentyfour mb-2">
                    <div class="card-header">
                        <h2 class="">Рейтинг команд по подписанным соглашениям</h2>
                        <span class="tx-20"></span>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table {% comment %}table-striped table-dashboard-two mg-b-0{% endcomment %}">
                            <thead>
                            <tr>
                                <th class="wd-lg-10p tx-right">Рейтинг</th>
                                <th class="wd-lg-70p tx-left">Команда</th>

                                <th class="wd-lg-10p tx-right">Соглашений</th>


                            </tr>
                            </thead>
                            <tbody>

                            {% for team in result.teams %}
                                <tr>
                                    <td class="text tx-right tx-bold tx-">#{{ team.N }}</td>
                                    <td class="text tx-bold"
                                        style="word-wrap: break-word"> {{ team.team}}   </td>
                                    <td class="text tx-right tx-bold tx-15">{{ team.service }}</td>

                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>


        </div>
    </div><!-- container -->
</div><!-- az-content -->


<script src="/static/azia/lib/jquery/jquery.min.js"></script>
<script src="/static/azia/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/azia/lib/ionicons/ionicons.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="/static/azia/lib/chart.js/Chart.bundle.min.js"></script>

<script src="/static/azia/js/azia.js"></script>


</body>
</html>
