{% load tags %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="60"/>

    <!-- Meta -->
    <meta name="description" content="Аукционт Остров 10-22">


    <title>{{ title }}</title>

    <!-- vendor css -->
    <link href="/static/azia/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/azia/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/azia/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/azia/css/azia.css">

</head>

<body class="az-body az-dashboard-eight">
<header class="page user-events-page bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="/" class="user-events__main-logo navbar-brand mr-4">
                <img src="/static/img/app.png" alt="" style="max-height: 40px">
            </a>

            <div class="collapse navbar-collapse" id="navbar-top">
                <div class="text-danger text-center mr-auto tx-36-f">Красные карточки</div>
            </div>

        </nav>
    </div>
</header>

<div class="az-content az-content-dashboard-eight  pt-3">
    <div class="container-fluid d-block">
        <div class="row row-sm">
            <div class="col-sm-12 col-lg-6">
                <div class="row row-sm row-lg">
                    <div class="col-12 card card-dashboard-twentyfour mb-2">
                        <div class="card-header">
                            <h2 class="">Выданные карточки </h2>
                            <span class="tx-20"></span>
                        </div><!-- card-header -->
                        <div class="card-body">
                            <div class="row row-sm">
                                <div class="col-4 d-flex">
                                    <div class="card card-body card-dashboard-fifteen flex-fill">
                                        <div class="row ml-0"><h1>{{ result.count_red_public }}</h1> <img
                                                src="/static/img/cards_red.svg" class="az-img-user"></div>
                                        <label class="tx-danger">Красных карточек</label>
                                        <span>За пропуски мероприятий и нарушения порядка.</span>

                                    </div>
                                </div>
                                <div class="col-4 d-flex">
                                    <div class="card card-body card-dashboard-fifteen flex-fill">
                                        <div class="row ml-0"><h1>{{ result.count_yellow }}</h1> <img
                                                src="/static/img/card_yellow.svg" class="az-img-user"></div>
                                        <label class="" style="color: #fdd714">Жёлтых карточек</label>
                                        <span>Предупреждения за несущественные нарушения</span>

                                    </div>
                                </div>
                                <div class="col-4 d-flex">
                                    <div class="card card-body card-dashboard-fifteen flex-fill">
                                        <div class="row ml-0"><h1>{{ result.count_green }}</h1> <img
                                                src="/static/img/card_green.svg" class="az-img-user"></div>
                                        <label class="tx-success">Зеленых карточек</label>
                                        <span>Поощрения за достижения</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row row-sm">
                                <div class="col-12">
                                    <h5 class=" mt-4 ml-2">Статусы красных карточек</h5>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>

                                                <th class="wd-45p">Статус</th>
                                                <th>Карточек</th>
                                                <th>Описание</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>

                                                <td><strong>Опубликованы</strong></td>
                                                <td><strong>{{ result.count_red_published }}</strong>
                                                    ( {{ result.count_red_published|as_percentage_of:result.count_red_public }}
                                                    )
                                                </td>
                                                <td>Могут быть оспорены</td>

                                            </tr>
                                            <tr>

                                                <td><strong>Оспорены</strong></td>
                                                <td><strong>{{ result.count_red_consideration }}</strong>
                                                    ( {{ result.count_red_consideration |as_percentage_of:result.count_red_public }}
                                                    )
                                                </td>
                                                <td>На рассмотрении модераторами</td>

                                            </tr>
                                            <tr>

                                                <td><strong>Выданы</strong></td>
                                                <td><strong>{{ result.count_red_issued }}</strong>
                                                    ( {{ result.count_red_issued |as_percentage_of:result.count_red_public }}
                                                    )
                                                </td>
                                                <td>Финальный статус. Нельзя оспорить.</td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div><!-- table-responsive -->
                                </div>
                            </div>

                        </div><!-- card-body -->
                    </div>
                    <div class="col-12 card card-dashboard-twentyfour mb-2">
                        <div class="card-header">
                            <h2 class="">Динамика выдачи карточек на острове </h2>
                            <span class="tx-20"></span>
                        </div><!-- card-header -->
                        <div class="card-body">
                            <div class="flot-chart-wrapper">
                                <div id="flotChart" class="flot-chart" style="height: 35vh">

                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-sm-12 col-lg-6">

                <div class="col-12 card card-dashboard-twentyfour mb-2">
                    <div class="card-header">
                        <h2 class="">Рейтинг команд</h2>
                        <span class="tx-20"></span>
                    </div><!-- card-header -->
                    <div class="table-responsive">
                        <table class="table {% comment %}table-striped table-dashboard-two mg-b-0{% endcomment %}">
                            <thead>
                            <tr>
                                <th class="wd-lg-40p">Команда</th>
                                <th class="wd-lg-10p tx-right">Красные</th>
                                <th class="wd-lg-10p tx-right">Желтые</th>
                                <th class="wd-lg-10p tx-right">Зеленые</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for team in  result.rating %}
                                <tr>
                                    <td class="text tx-bold"
                                        style="word-wrap: break-word">{{ team.team_title }}</td>
                                    <td class="text tx-right tx-bold tx-danger">{{ team.red }}</td>
                                    <td class="text tx-right tx-bold tx-orange" >{{ team.yellow }}</td>
                                    <td class="text tx-right tx-bold tx-success" >{{ team.green }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>
        </div>

    </div>
</div><!-- container -->
</div><!-- az-content -->


<script src="/static/azia/lib/jquery/jquery.min.js"></script>
<script src="/static/azia/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/azia/lib/ionicons/ionicons.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.js"></script>
<script src="/static/azia/lib/jquery.flot/jquery.flot.resize.js"></script>
<script src="/static/azia/lib/chart.js/Chart.bundle.min.js"></script>

<script src="/static/azia/js/azia.js"></script>
<script src="/static/azia/js/chart.flot.sampledata.js"></script>
<script>
    ratio = 24;
    var plot = $.plot('#flotChart', [
        {
            data: {{ result.red_cards_data }},
            color: '#ff331d',
            lines: {
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },
        {
            data: {{ result.green_cards_data }},
            color: '#34d032',
            lines: {
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        },
        {
            data: {{ result.yellow_cards_data }},
            color: '#c5d015',
            lines: {
                fillColor: {colors: [{opacity: 0}, {opacity: 0.2}]}
            }
        }
    ], {
        series: {
            shadowSize: 0,
            lines: {
                show: true,
                lineWidth: 2,
                fill: true
            }
        },
        grid: {
            borderWidth: 0,
            labelMargin: 8
        },
        yaxis: {
            show: true,
            min: 0,
            {% comment %}   ticks: [[0, '20K'], [20, '20K'], [40, '40K'], [60, '60K'], [80, '80K']],{% endcomment %}
            tickColor: '#eee'
        },
        xaxis: {
            show: true,
            max: 288,
            color: '#fff',
            ticks: [[0, '10 июля'], [2 * ratio, '12 июля'], [4 * ratio, '14 июля'], [6 * ratio, '16 июля'], [8 * ratio, '18 июля'], [10 * ratio, '20 июля'], [12 * ratio, '22 июля'],],
        }
    });
</script>

</body>
</html>
