{% load tags %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Refresh" content="20"/>
    <!-- Meta -->
    <meta name="description" content="Результаты аукциона: Выбор лабораторий">


    <title>Остров 10-22 Ситуационный центр</title>

    <!-- vendor css -->
    <link href="/static/azia/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/azia/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/azia/lib/typicons.font/typicons.css" rel="stylesheet">

    <!-- azia CSS -->
    <link rel="stylesheet" href="/static/azia/css/azia.css">

</head>

<body class="az-body az-dashboard-eight"  style="width: 100%; height: 100%; text-align: center" >
<header class="page user-events-page bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="/" class="user-events__main-logo navbar-brand mr-4">
                <img src="/static/img/app.png" alt="" style="max-height: 40px">
            </a>

            <div class="collapse navbar-collapse" id="navbar-top">
                <div class="text-danger text-center mr-auto tx-36-f">Ситуационный центр Острова 10-22</div>
            </div>

        </nav>
    </div>
</header>


    <div class="tx-center tx-64 tx-gray-500" style="width: 100%; height: 100%">
        Идет пересчет ...
    </div>






</body>
</html>
