{% extends 'base.html' %}

{% block header %}
    <div class="container-fluid menu">
        <div class="container">
            <div class="logo"></div>
            <div class="menu-list  d-sm-block">
                <ul>
                    {% if request.user.is_authenticated %}
                        {% comment %}  <li><a href="..">Отчеты</a></li>{% endcomment %}
                        <li>
                            <span class="">{{ request.user.get_full_name }}</span>
                        </li>
                        {% if request.user.leader_id %}
                            <li>
                                <span class="">
                                    <span class="badge badge-leader-id">L{{ request.user.leader_id }}</span>
                                </span>
                            </li>
                        {% endif %}

                        <li class="red">
                            <a class="" href="{% url 'logout' %}?next=/"
                               title="Выйти">
                                <i class="fa fa-sign-out"
                                   title="Выйти"></i>
                            </a>
                        </li>

                    {% else %}
                        <li class="red">
                            <a class=""
                               href="{% url 'social:begin' backend='unti' %}?next=/">
                                Войти
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% comment %}            <div class="menu-profile d-sm-none">
                <i class="fa fa-user-circle"></i>
            </div>{% endcomment %}
        </div>
    </div>

    <div class="container">
        <header class="header">
            ситуационный центр
        </header>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="">
            {% if request.user.is_authenticated %}
                {% for dashboard in dashboards %}
                    <div class="col-lg-4 col-md-6 col-12 col-fix">
                        <div class="block">

                            <div class="img"><img src="/media/{{ dashboard.cover }}" alt=""></div>
                            <div class="content">
                                <header class="{{ dashboard.status }}"><a
                                        href="{{ dashboard.url }}">{{ dashboard.title }}</a></header>

                                <main>{{ dashboard.description }}</main>
                                {% now "d M" as todays %}
                                <footer><i class="fa fa-sync"></i>{{ todays }}</footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
