{% extends 'base.html' %}

{% block header %}
    <div class="container-fluid menu">
        <div class="container">
            <div class="menu-button d-sm-none">
                <i class="fas fa-bars"></i>
                <div class="menu-toggle-panel hide">
                    <i class="fas fa-times"></i>
                    <ul>
                        <li><a href="..">Дашборд</a></li>
                        <li><a href="..">Отчеты</a></li>
                        {% if request.user.is_authenticated %}
                            {% if request.user.icon %}
                                <li class="nav-item nav-user-image">
                                    <img src="{{ request.user.icon.Small }}"/>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <span class="navbar-red navbar-text navbar-user">
                                            {{ request.user.get_full_name }}
                                        </span>
                                        {% if request.user.leader_id %}
                                            <span class="nav-link padding-0">
                                                <span class="badge badge-leader-id">L{{ request.user.leader_id }}</span>
                                            </span>
                                        {% endif %}
                                    </li>
                                    <li class="nav-item logout-link">
                                        <a class="navbar-red nav-link" href="{% url 'logout' %}"
                                           title="Выйти">
                                            <i class="fa fa-sign-out"
                                               title="Выйти"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link navbar-red"
                                   href="{% url 'social:begin' backend='unti' %}?next={{ request.path }}">
                                    Войти
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="logo"></div>
            <div class="menu-list d-none d-sm-block">
                <ul>
                    <li><a href="..">Дашборд</a></li>
                    <li><a href="..">Отчеты</a></li>
                    {% if request.user.is_authenticated %}
                        {% comment %} {% if request.user.icon %}
                                <li class="nav-item nav-user-image">
                                    <img src="{{ request.user.icon.Small }}"/>
                                </li>
                            {% endif %}{% endcomment %}

                        <li>
                            <span class="">
                                            {{ request.user.get_full_name }}
                            </span>
                        </li>
                        {% if request.user.leader_id %}
                            <li>
                                <span class="">
                                    <span class="badge badge-leader-id">L{{ request.user.leader_id }}</span>
                                </span>
                            </li>
                        {% endif %}

                        <li class="">
                            <a class="" href="{% url 'logout' %}?next={{ request.path }}"
                               title="Выйти">
                                <i class="fa fa-sign-out"
                                   title="Выйти"></i>
                            </a>
                        </li>

                    {% else %}
                        <li class="">
                            <a class="navbar-red"
                               href="{% url 'social:begin' backend='unti' %}?next={{ request.path }}">
                                Войти
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="menu-profile d-sm-none">
                <i class="fas fa-user-circle"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <header class="header">
            ситуационный центр
        </header>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="">
            {% for dashboard in dashboards %}
                <div class="col-lg-4 col-md-6 col-12 col-fix">
                    <div class="block">

                        <div class="img"><img src="/media/{{ dashboard.cover }}" alt=""></div>
                        <div class="content">
                            <header class="{{ dashboard.status }}">{{ dashboard.title }}</header>

                            <main>{{ dashboard.description }}</main>
                            <footer><i class="fas fa-sync"></i> 10 июля</footer>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
